<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="3" verbose="1" name="Gmail Suite" annotations="JDK" parallel="methods">

    <test name="Validating User Login">
        <classes>
            <class name="com.test.Flipkart1">
                <methods>
                    <include name="test3"/>
                </methods>
            </class>
        </classes>

    </test>

</suite>

